<table summary="User detail view">
    <tr class="header">
        <th>Name</th>
        <th>Points</th>
        <th>Role</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
        <td><%=link_to(user.firstName + " "+ user.lastName, home_path(:id => user.id), :class => 'action show') %></td>
        <td><%= user_events(user.id).sum(&:points) %></td>
        <td><%= user.role.capitalize %></td>
    </tr>
    <% end %>
</table>