<head>
    <nav class="navbar navbar-light bg-light navbar-fixed-top">
        <div class="navbar-header">
            <%= link_to home_path do %>
            <%= fa_icon "home", size: '3x', id: "home-icon" %>
            <% end %>
        </div>

        <h1>Professional Brotherhood of Engineers</h1>

        <div class="navbar-nav navbar-right">
            <%= button_to "Logout", logout_path, method: "delete", :class => "btn btn-lg" %>
        </div>
    </nav>
</head>

<h2>Edit Event Points</h2>

<%= render 'eventlist', locals: { events: @events } %>