<!DOCTYPE html>
<html>
    <head>
        <nav class="navbar navbar-light bg-light">
        <%= link_to home_path do %>
            <%= fa_icon "home", size: '3x', id: "home-icon" %>
        <% end %>

        <h1>Professional Brotherhood of Engineers</h1>
        <%= button_to "Logout", logout_path, method: "delete", :class => "btn btn-lg" %>

        </nav>
    </head>

    <h2 class = "bottom-space">Editing</h2>
  
    <% form_for(@user) do |user| %>
        <%= render(:partial => 'form', :locals => {:u => u}) %>
    <% end %>

</html>
