<div id="flash-messages">
    <% flash.each do |message_type, message| %>
    <div class="alert text-center alert-<%= flash_class_name(message_type) %> alert-dismissable mb-0">
        <span><%= message %></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% end %>
</div>