<!DOCTYPE html>
<html>
    <head>
        <% content_for :title, "PBE Point Tracker About" %>
        <nav class="navbar navbar-light bg-light">
            <div class = "navbar-header">
                <%= link_to "Back", home_path, :class => "btn btn-light" %>
            </div>
            <h3>How To Use</h3>

            <div class = "navbar-nav navbar-right">
            </div>
        </nav>
  </head>
        <div style="margin-left:10%; margin-right:10%; margin-top:5%">

            <h6>As a member:</h6>
            <p>If you do not already have an account, sign up to create one. Once you have an account, login with your credentials to access your homepage. There you’ll be able to view your current standing in the organization, your total amount of points, percent of meetings attended, and your eligibility to run for officer or remain in the organization. You will also be able to see the events you attended. </p>
            <p>If you feel as though your statistics are inaccurate, reach out to an officer, and they will be able to help you resolve your issue.</p>

            <br>

            <h6>As an officer:</h6>
            <p>With administrative capabilities, you’ll be able to view all members’ information from the Member List page. There you’ll be able to filter users by their role in the organization and point totals. You can also search for a specific user by first or last name. Click on a specific user to view a more detailed version of their statistics. You can alter any member’s point total in the case that it’s inaccurate.</p>
        </div>

</html>